<%= stylesheet_link_tag 'sign_up' %>

<div class="container padding-top-100 padding-bottom-100 sign-up">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-12">
        <%= render 'layouts/logo_header' %>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="col-md-12 text-center">
            <h1>Sign up</h1>
            <div class="sub-heading padding-top-10">Already a member?
              <%= link_to 'Sign In', new_user_session_path, class: 'link-sign-in' %>
            </div>
          </div>

          <div class="col-md-12 text-center padding-bottom-30">
            <div class="col-md-6 col-md-offset-3">
              <div class="upload-pic-bg photoPreview">
                <%= image_tag 'upload-image-bg.png', class: 'hide avatarPlaceholder', height: "224px" %>
                <%= link_to 'Upload profile photo', '#', class: 'upload-avatar', title: "Upload profile photo", id: 'uploadClick' %>
              </div>
              <%= f.file_field :avatar, class: 'hide', id: 'uploadAvatar' %>
              <p class="delete-photo hide">Delete</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="form-group">
                <%= f.text_field :name, class: "form-control input-sm", placeholder: "Full Name" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.text_field :username, class: "form-control input-sm", placeholder: "Team Handle / ID" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.email_field :email, class: "form-control input-sm", placeholder: "Email" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", class: "form-control input-sm", placeholder: "Password" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-sm", placeholder: "Password" %>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.select :school_id, School.active.pluck(:name, :id), { include_blank: 'Select School' }, { class: 'school-select form-control input-sm' } %>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.select :classroom_id, Classroom.pluck(:name, :id), { include_blank: 'Select Classroom' }, { class: 'classroom-select form-control input-sm' }  %>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.select :role_id, Role.all.pluck(:name, :id), { include_blank: 'Select Role'}, { class: 'form-control input-sm' } %>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.text_area :description, class: 'form-control input-sm height-100', placeholder: 'Description' %>
              </div>
            </div>
            <div class="row">
              <div class="form-group active-checkbox">
                <input type="checkbox" checked="checked"> &nbsp; Active
              </div>
            </div>
            <div class="text-center row padding-bottom-20">
              <%= f.submit "Sign up", class: 'btn btn-primary' %>
            </div>
            <div class="sub-heading text-center">Already a member? <a href="#" title="Already a member? Sign in" class="link-sign-in"> Sign in</a>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'registrations/form' %>

<script type="text/javascript">
  Registrations.Form.schoolClassroomCombination = <%== school_classroom_json_mapping %>
</script>
