<%= stylesheet_link_tag 'search' %>

<div class="container padding-top-100 padding-bottom-100 sign-up">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12">
        <div class="col-md-12 padding-bottom-30">
          <a class="center-block" href="#" class="v-middle">
            <%= image_tag 'nav-logo.png', class: 'img-responsive logo-main-index center-block' %>
          </a>
        </div>
        <div class="col-md-12">
          <%= form_tag search_index_path, method: :get do |f| %>
            <div class="row">
              <div class="form-group">
                <%= label_tag :term, 'Search projects, users, schools, etc.', class: 'col-md-12 label-search'%>
                  <div class="col-md-11 v-middle">
                    <%= text_field_tag :term, nil, class: 'form-control input-sm search-input', placeholder: 'Search..'%>
                  </div>
                  <div class="col-md-1 button-saearch search-input-btn">
                    <div class="pull-right">
                      <%= button_tag(type: 'submit', class: 'btn') do %>
                        <%= image_tag 'icon-search.png', class: 'nav-icon-search' %>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
