<%= stylesheet_link_tag 'searches/index' %>

<div class="container padding-top-100 padding-bottom-100 sign-up">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12">
        <%= render 'layouts/logo_header' %>

        <div class="col-md-12">
          <%= form_tag search_index_path, method: :get do |f| %>
            <div class="row">
              <div class="form-group">
                <%= label_tag :term, 'Search projects, users, schools, etc.', class: 'col-md-12 label-search'%>
                  <div class="col-md-12 v-middle">
                    <%= text_field_tag :term, nil, class: 'form-control input-sm search-input', placeholder: 'Search..', autofocus: true%>
                      <div class="pull-right">
                      <%= button_tag(type: 'submit', class: 'btn search-btn') do %>
                        <%= image_tag 'icon-search.png', class: 'nav-icon-search' %>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
