<%= image_tag current_user.avatar.url(:thumb) %>

<%= current_user.username %>
<%= current_user.description %>

<br />
<%= current_user.school.name %> | <%= current_user.classroom.name %>

<h3>Projects</h3>

<%= render 'projects/listing' %>

<%= link_to 'Add New Project', new_user_project_path(current_user) %>


<% if current_user.teacher? %>
  <h4>Sent Invites</h4>
  <%= render 'classrooms/invites', collection: @current_user.classroom.sent_invites.pending %>
  <h4>Recieved Invites</h4>
  <%= render 'classrooms/invites', collection: @current_user.classroom.recieved_invites.pending %>
<% end %>
