<%= image_tag current_user.avatar.url(:thumb) %>

<%= current_user.description %>

<br />
<%= current_user.school.name %> | <%= current_user.classroom.name %>

<h3>Projects</h3>

<%= render 'projects/listing' %>

<%= link_to 'Add New Project', new_user_project_path(current_user) %>
