<%= stylesheet_link_tag 'classroom' %>
<%= stylesheet_link_tag 'projects' %>

<div class="container border-top-dotted class-name padding-bottom-30">
  <div class="row">
    <div class="col-lg-12 padding-top-50 padding-left-0 padding-right-0">
      <div class="col-md-8 padding-left-0 padding-right-0">
        <div class="col-md-4 padding-left-0 padding-right-0">
          <%= image_tag @user.avatar.url(:medium), class: "img-responsive center-block border-radius-50 #{swatch_class(@user)}" %>
        </div>
        <div class="col-md-8">
          <div class="col-md-12">
            <h1><%= @user.name %></h1>
            <p><%= @user.description%></p>
          </div>
          <div class="col-md-12 text-center class-profile-status">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <div>
                <div class="status-number"><%= @projects.count %></div>
                <div class="status-group">Projects</div>
              </div>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-md-3 padding-left-0 padding-right-0 classroom-right-col">
        <div class="col-md-12">
          <% if @user.school %>
            <div class="col-md-12 padding-bottom-15 col-sm-6 col-xs-6">
              <div class="heading">Classroom</div>
              <%= link_to @user.classroom.name, classroom_path(@user.classroom), class: 'scrap-links' %><br />
              <%= link_to @user.school.name, school_path(@user.school), class: 'scrap-links'%>
            </div>
            <div class="col-md-12 padding-bottom-15 col-sm-6 col-xs-6">
              <div class="heading">Teacher</div>
              <% if @user.teacher %>
                <%= link_to @user.teacher.name, user_path(@user.teacher), class: 'scrap-links' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container border-top-dotted class-name padding-bottom-30">
  <div class="row">
    <div class="col-lg-12 padding-top-50 padding-bottom-30 padding-left-0 padding-right-0">
      <div class="padding-left-0 padding-right-0">
        <ul class="nav nav-tabs" id="myTab">
          <li><a data-target="#projects" data-toggle="tab">Projects</a></li>
        </ul>

        <div class="tab-content class-room-listing request-by-table">
          <div class="tab-pane active project-list" id="projects">
            <ul>
              <% @projects.each do |project| %>
                <%= render 'projects/project', project: project %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-1">&nbsp;</div>
    </div>
  </div>
</div>
