<%= stylesheet_link_tag 'index' %>

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="#" title="Code Combinator where code meets fun">
          <%= image_tag 'logo-index-main.png', class: 'img-responsive logo-main-index center-block' %>
        </a>
      </div>
    </div>
  </div>
</header>

<div class="container page-heading text-center padding-bottom-120">
  <div class="row text-center">
    <div class="col-lg-12 text-center">
      <h1>Code Combinator</h1>
      <div class="sub-heading">where code meets fun</div>
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>
            Code, share, and archive work independently or with others around the globe using the Code Combinator secure network platform.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center padding-bottom-120 highlights-section">
  <div class="col-lg-12 pos-relative padding-bottom-40">
    <h1>Highlights</h1>
    <div class="sub-heading">Benefits of using code combinator.</div>
    <span class="bg-highlights"> </span>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4">
        <div class="point-circule">
          <%= image_tag 'index/point-circule.png', class: 'img-responsive center-block' %>
        </div>
        <h2>Code</h2>
      </div>
      <div class="col-md-4">
        <div class="point-circule">
          <%= image_tag 'index/point-circule.png', class: 'img-responsive center-block' %>
        </div>
        <h2>Compose</h2>
      </div>
      <div class="col-md-4">
        <div class="point-circule">
          <%= image_tag 'index/point-circule.png', class: 'img-responsive center-block' %>
        </div>
        <h2>Collaborate</h2>
      </div>
    </div>
  </div>
</div>

<div class="container text-center workshop-section">
  <div class="col-lg-12 pos-relative padding-bottom-40">
    <h1>Workshops</h1>
    <span class="bg-highlights"> </span>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-12">
        <p>Email <a href="mailto:mightyspicycollective#gmail.com">mightyspicycollective (at) gmail.com</a> for information on future workshops.
</p>
      </div>
    </div>
  </div>
</div>
