<style type="text/css">
  div.ace_editor {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    width: 100%!important;
  }
</style>

<div class="col-md-6 col-md-offset-3">
  <%= form_for @project, url: [current_user, @project], class: 'form-horizontal' do |f| %>
    <div class="row">
      <div class="form-group">
        <%= f.label :name, 'What do you want to call your project?', class: 'col-sm-6' %>
        <%= f.text_field :name, class: 'form-control input-sm' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <%= f.label :description, 'Describe your project', class: 'col-sm-6' %>
        <%= f.text_area :description, class: 'form-control input-sm', placeholder: 'Describe your project', rows: 10, cols: 50 %>
      </div>
    </div>

    <div class="row form-group">
      <span class="btn btn-default btn-file col-md-12">
        Upload a pic <%= f.file_field :photo %>
      </span>
    </div>

    <div class="row">
      <%= f.label :status, 'Is it viewable by others?', class: 'col-md-6' %>
      <div class="col-md-3">
        <%= f.radio_button :status, 1, checked: @project.status.present? || @project.new_record? %>
        <%= f.label :status, bool_value("1"), value: 1 %>
      </div>

      <div class="col-md-3">
        <%= f.radio_button :status, 0 %>
        <%= f.label :status, bool_value("0"), value: 0 %>
      </div>
    </div>

    <% if @project.new_record? %>
      <div class="row form-group">
        <%= f.label :source_code, 'Enter your code here', class: 'col-sm-6' %>
        <%= f.text_area :source_code, class: 'form-control', placeholder: 'Source Code', rows: 10, cols: 50 %>
      </div>
    <% end %>

    <div class="text-center row padding-bottom-20">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'projects/form'%>
