<% project = ProjectPresenter.new(project) %>
<li>
  <div class="col-md-2 col-sm-2 col-xs-2">
    <%= link_to view_project_path(project) do %>
      <%= image_tag project.photo.url(:medium), class: "img-responsive center-block swatch-#{project.dummy_swatch_color} margin-bottom-20" %>
    <% end %>
  </div>
  <div class="col-md-7 col-sm-10 col-xs-10 padding-right-0 padding-left-0">
    <h3><%= link_to project.name, view_project_path(project) %></h3>

    <b>By <%= link_to project.username(current_user), user_path(project.user), class: 'scrap-links' %></b>

    <div class="activity-block">
      <span>
        Latest Activity: <%= latest_activity(project) %><br />
        Latest Comment: <%= latest_comment(project) %>
      </span>
    </div>

    <p class="description"><%= project.description %></p>

    <% if project.forked? %>
      <%= link_to 'Contribute', view_project_path(project), class: 'btn btn-xl btn-primary text-uppercase margin-bottom-20' %>
    <% else %>
      <%= link_to 'Keep Coding', view_project_path(project), class: 'btn btn-xl btn-primary text-uppercase margin-bottom-20' %>
    <% end %>
  </div>
  <div class="col-md-3 padding-left-0 padding-right-0 classroom-right-col">
    <div class="col-xs-2 col-sm-2 hidden-lg hidden-md"> </div>
    <% if project.school %>
      <div class="col-md-12 padding-bottom-15 col-sm-5 col-xs-5">
        <div class="heading">Classroom</div>
        <%= link_to project.classroom.name, classroom_path(project.classroom), class: 'scrap-links' %>
        <br />
        <%= link_to project.school.name, school_path(project.school), class: 'scrap-links' %>
      </div>
      <% if project.classroom.teacher %>
        <div class="col-md-12 padding-bottom-15 col-sm-5 col-xs-5">
          <div class="heading">Teacher</div>
          <%= link_to project.classroom.teacher.name, user_path(project.classroom.teacher), class: 'scrap-links' %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="clearfix"> </div>
</li>
