<%= stylesheet_link_tag 'project' %>
<%= stylesheet_link_tag 'classroom' %>
<%= stylesheet_link_tag 'compare' %>

<div class="container border-top-dotted class-name padding-bottom-30">
  <div class="row">
    <div class="col-lg-12 padding-top-50 padding-left-0 padding-right-0">
      <div class="col-md-8 padding-left-0 padding-right-0">
        <div class="col-md-4 padding-left-0 padding-right-0">
          <%= image_tag @project.school.photo.url(:medium), class: 'img-responsive center-block' %>
        </div>
        <div class="col-md-8">
          <div class="col-md-12">
            <h1><%= @project.name %></h1>
            <div class="project-finish-by">by
              <%= link_to @project.classroom.name, classroom_path(@project.classroom) %>
            </div>
            <p><%= @project.description %></p>
            <% if current_user %>
              <div>
                <%= link_to 'Edit Project Details', edit_user_project_path(current_user, @project), class: 'edit-class-profile' %>
              </div>
            <% end %>
          </div>
          <div class="col-md-12 padding-top-30 padding-bottom-30">
            <div class="col-md-5 padding-left-0">
              <a href="#" title="Edit in place" class="btn btn-primary width-full">Edit in place</a>
            </div>
            <div class="col-md-7 padding-left-0">
              <a href="#" title="Use and Edit in Sonic-pi" class="btn btn-primary width-full">Use and Edit in Sonic-pi</a>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-md-3 padding-left-0 padding-right-0 classroom-right-col">
        <div class="col-md-12">
          <div class="col-md-12 padding-bottom-30">
            <div class="heading">School</div>
            <%= link_to @project.school.name, school_path(@project.school), class: 'scrap-links'%>
          </div>
          <div class="col-md-12 padding-bottom-30">
            <div class="heading">City</div>
            <%= link_to @project.school.location, '#', class: 'scrap-links' %>
          </div>
          <% if @project.teacher %>
            <div class="col-md-12 padding-bottom-30">
              <div class="heading">Teacher</div>
              <%= link_to @project.teacher.name, user_path(@project.teacher), class: 'scrap-links' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 border-top-dotted padding-top-30 padding-bottom-30 padding-left-0 padding-right-0">
      <div class="row">
        <div class="col-md-6  latest-enteries">
          <div class="col-md-12 heading">
            <div class="col-md-12 padding-left-0">Latest</div>
          </div>
          <div class="col-md-12 padding-left-0 padding-right-0 entry-content">
            <div class="content_highlight col-md-12 padding-left-0 padding-right-0">
              <div class="content_highlight-code">
                <pre><code><%= @differences.left.html_safe %></code></pre>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 previous-enteries">
          <div class="col-md-12 heading">
            <div class="col-md-4 col-sm-4 col-xs-4 padding-left-0">Previous Entries</div>
            <div class="col-md-8 col-sm-8 col-xs-8 pull-right">
              <div class="row">
                <div class="btn-group col-md-12 col-sm-12 col-xs-12 padding-left-0 padding-right-0 pull-right">
                  <a class="btn btn-default btn-sm dropdown-toggle padding-right-0" data-toggle="dropdown" href="#">Team Dandelion IA (12th Dec, 2015)<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">
                        <span class="col-md-12 heading">changed from Team Dandelion IA</span>
                        <span class="col-md-12 date">12th Dec, 2015</span>
                        <span class="clearfix"> </span>
                    </a></li>
                    <li><a href="#">
                        <span class="col-md-12 heading">changed from Team Dandelion IA</span>
                        <span class="col-md-12 date">12th Dec, 2015</span>
                        <span class="clearfix"> </span>
                    </a></li>
                    <li><a href="#">
                        <span class="col-md-12 heading">changed from Team Dandelion IA</span>
                        <span class="col-md-12 date">12th Dec, 2015</span>
                        <span class="clearfix"> </span>
                    </a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 padding-left-0 padding-right-0 entry-content">
            <div class="content_highlight col-md-12  padding-left-0 padding-right-0">
              <div class="content_highlight-code">
                <pre><code><%= @differences.right.html_safe %></code></pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
