<%= stylesheet_link_tag 'project' %>

<h3>Project History </h3>

<% unless @version.blank? %>
  <% @version.each do |version| %>
  <div class="project-versions">

    <div class="row project-heading">
      <div class="col-md-1">Changed By</div>
      <div class="col-md-1">Changed on</div>
      <div class="col-md-5">Old</div>
      <div class="col-md-5">New</div>
    </div>
    <div class="row">
      <div class="col-md-1"><b><%= change_performer(version).to_s.titleize %></b></div>
      <div class="col-md-1"><b><%= version.created_at.to_date.to_s(:long) %></b></div>
      <% changes = describe_changeset(version.changeset) %>
      <div class="col-md-10">
        <% n = changes.shift %>
        <div class="col-md-6 project-old"><b><%= render_value(n, n[1]) if n %></b></div>
        <div class="col-md-6 project-new"><b><%= render_value(n, n[2]) if n %></b></div>
      </div>
    </div>
  </div>
  <% end %>

  <%= paginate @version %>
<% end %>
