<%= stylesheet_link_tag 'sign_up' %>

<div class="container padding-top-100 padding-bottom-100 sign-up">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="col-md-12">
        <%= render 'layouts/logo_header' %>

        <div class="col-md-12">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="row">
              <div class="form-group">
                <%= f.text_field :username, autofocus: true, class: 'form-control input-sm', placeholder: 'Username' %>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", class: "form-control input-sm", placeholder: "Password" %>
              </div>
            </div>
            <div class="text-center row padding-bottom-20">
              <%= f.submit "Log in", class: 'btn btn-primary' %>
            </div>
            <div class="sub-heading text-center sign-in-page">
              <%= link_to 'Forgot Password?', new_password_path(resource_name), class: 'link-sign-in' %>&nbsp;|&nbsp; Not a member?
              <%= link_to 'Create Account', new_user_registration_path, class: 'link-sign-in' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
