<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand v-middle' do %>
        <%= image_tag 'nav-logo.png' %>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'PROJECTS', active_projects_path %></li>
        <li><span>|</span></li>
        <li><%= link_to 'ABOUT', page_path('about') %></li>
        <li><span>|</span></li>
        <li><%= link_to 'CONTACT', contact_us_path %></li>
        <li><span>|</span></li>
        <li>
          <%= form_tag search_index_path, id: 'search', method: 'GET' do %>
            <div id="label">
              <label for="search-terms" id="search-label">
                <%= image_tag 'icon-search.png', class: 'nav-icon-search' %>
              </label>
            </div>
            <div id="input">
              <%= text_field_tag :term, params[:term], id: 'search-terms', placeholder: 'Search' %>
            </div>
          <% end %>
        </li>
      </ul>
      <div class="navbar-right">
        <% unless user_signed_in? %>
          <div class="nav-btn">
            <%= link_to 'Sign In', new_user_session_path, class: 'sign-in' %>
            <!-- <span>/</span> -->
            <%= link_to 'Sign up', new_user_registration_path, class: 'sign-up' %>
          </div>
        <% else %>
          <div>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-xl btn-primary text-uppercase' %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<%= javascript_include_tag 'search' %>
