<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand v-middle' do %>
        <%= image_tag 'nav-logo.png' %>
      <% end %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">PROJECTS</a>
        </li>
        <li>
          <span>|</span>
        </li>
        <li>
          <a href="#">ABOUT</a>
        </li>
        <li>
          <span>|</span>
        </li>
        <li>
          <a href="#">CONTACT</a>
        </li>
        <li>
          <span>|</span>
        </li>
        <li>
          <a href="#" class="nav-search">
            <span><%= image_tag 'icon-search.png', class: 'nav-icon-search' %></span> SEARCH</a>
        </li>
      </ul>
      <div class="navbar-right">
        <% unless user_signed_in? %>
          <div class="btn btn-xl btn-primary text-uppercase">
            <%= link_to 'Sign In', new_user_session_path, class: 'sign-in' %>
            <span>/</span>
            <%= link_to 'Sign up', new_user_registration_path, class: 'sign-up' %>
          </div>
        <% else %>
          <div class="btn btn-xl btn-primary text-uppercase">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
