<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand v-middle' do %>
        <%= image_tag 'nav-logo.png' %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag search_index_path, id: 'search', method: 'GET', class: '' do %>
        <div id="input">
          <%= text_field_tag :term, params[:term], id: 'search-terms', placeholder: 'Search' %>
        </div>
        <div id="label">
          <label for="search-terms" id="search-label">
            <%= image_tag 'icon-search.png', class: 'nav-icon-search' %>
          </label>
        </div>
      <% end %>
      <ul class="nav navbar-nav navbar-left <%= current_user.present? ? 'hidden-sm hidden-xs' : '' %>">
        <li class="active"><%= link_to 'PROJECTS', active_projects_path %></li>
        <li><%#= link_to 'ABOUT', page_path('about') %></li>
        <li><%= link_to 'CONTACT', contact_us_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
        <% unless user_signed_in? %>
          <div class="nav-btn">
            <%= link_to 'Sign In', new_user_session_path, class: 'sign-in' %>
            <!-- <span>/</span> -->
            <%= link_to 'Sign up', new_user_registration_path, class: 'sign-up' %>
          </div>
        <% else %>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle', role: 'button', aria: { haspopup: true, expanded: false }, data: { toggle: 'dropdown' } do %>
            <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar.url(:thumb), class: "img-responsive center-block border-radius-50" %>
            <% else %>
              <%= image_tag current_user.avatar.url(:thumb), class: "img-responsive center-block border-radius-50 radius-mobile #{swatch_class(current_user)}" %>
            <% end %>
            <%= current_user.username %>
            <i class="fa fa-angle-down caret-icon"> </i>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li><%= link_to 'Classroom', classroom_path(current_user.classroom) %></li>
            <li><%= link_to 'My Projects', dashboard_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-lg hidden-md">
        <% unless user_signed_in? %>
          <div class="nav-btn">
            <%= link_to 'Sign In', new_user_session_path, class: 'sign-in' %>
            <!-- <span>/</span> -->
            <%= link_to 'Sign up', new_user_registration_path, class: 'sign-up' %>
          </div>
        <% else %>
        <li class="dropdown">
          <%= link_to '#', class: 'dropdown-toggle hidden-sm hidden-xs', role: 'button', aria: { haspopup: true, expanded: false }, data: { toggle: 'dropdown' } do %>
            <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar.url(:thumb), class: "img-responsive center-block border-radius-50" %>
            <% else %>
              <%= image_tag current_user.avatar.url(:thumb), class: "img-responsive center-block border-radius-50 radius-mobile #{swatch_class(current_user)}" %>
            <% end %>
            <%= current_user.username %>
            <span class="caret"></span>
          <% end %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Dashboard', dashboard_path %></li>
            <li><%= link_to 'Classroom', classroom_path(current_user.classroom) %></li>
            <li><%= link_to 'My Projects', dashboard_path %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%= javascript_include_tag 'search' %>
